<strong>Recuperação de senha</strong>

<p>Solicitação de recuperação de senha para o e-mail {{email}}.</p>

<p>Utilize o token {{token }} ou clique no link abaixo.</p>

<a href="{{link}}">Criar nova senha</a>
